html, body {
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
	font-size:100%;
}

/*Welcome screen button style start here*/
.button-link {
    padding: 50px;
    font-size:25px;
    cursor:hand;
    cursor:pointer;
    background: #676767;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #777777;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-link:hover {
    background: #999999;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}
/*Welcome screen button style ends here*/

/*Override font-size of jquery UI default starts here*/
.ui-widget {
	font-size: 12px/*{fsDefault}*/;
}

.ui-corner-all {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-corner-top {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a{cursor:pointer;cursor:hand;}
/*Override font-size of jquery UI default ends here*/

/* style for toolbar start here*/

.fg-toolbar {
padding: .5em;
margin: 0;
}

.fg-toolbar .fg-buttonset {
margin-right: 1.5em;
padding-left: 1px;
}

.fg-buttonset {
float: left;
}

.fg-button {
	padding:5px;
	margin-right:2px;
}

.fg-toolbar .fg-button {
font-size: 1em;
}

.fg-buttonset .fg-button {
float: left;
}

/* style for toolbar ends here*/

/* overriding style for bottom tab start here*/

#CrudAreaDiv {
	background: #000;
}

#subTab {
	background: url("../Resource/images/bg.png") repeat scroll 0 0 #474747;
}

#subTab .tabs-spacer {
	float: left;
	height: 200px;
}

.tabs-bottom .ui-tabs-nav {
	clear: left;
	padding: 0 .2em .2em .2em;
}

.tabs-bottom .ui-tabs-nav li {
	top: auto;
	bottom: 0;
	margin: 0 .2em 1px 0;
	border-bottom: auto;
	border-top: 0;
}

.tabs-bottom .ui-tabs-nav li.ui-tabs-active {
	margin-top: -1px;
	padding-top: 1px;
}

li a {
	outline-color: transparent;
}

/* overriding style for bottom tab ends here*/

.TopToggleBtn
{
   float:right;
   margin-top: 5px;
   cursor: pointer;
   cursor: hand;
}

.MasterDiv {
	height:100%;
	position:relative;	
}

.MasterTable {
	position:relative;
	border-spacing:0;
  	border-collapse:collapse;
  	padding:0px;
	margin:0px;
	height:100%;
	width:100%;
	background:#282828;
}

.MasterTable td {
	vertical-align:top;
}

.TopControlDiv {
	height:30px;
	position:relative;
	z-index: 100;
	border: solid 4px #282828;
	text-shadow: 0 3px 8px #2A2A2A;
	background: url("../Resource/images/bg.png") repeat scroll 0 0 #474747;
	color: #cccccc;
	display: block;
	font-size: 22px;
	font-weight: bold;
	padding-left: 5px;
}

.WelcomeDiv {
	height:auto;
	position:relative;
	border: 4px solid #282828;
	border-top:none;	
}

.MainOptionUL {
	height: 10px;
	margin: 0 auto;
	overflow: visible;
	padding: 0;
	width: 665px;	
}

.MainOptionUL li {
	list-style:none;
	float:left;
	margin:225px 10px;
}

.MainOptionUL li div {
	background:#41924b;
	font-weight: bold;
    padding: 60px;
    position: relative;
    text-align: center;
    width: 80px;
    cursor:pointer;
    cursor:hand;	
	-moz-box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px#666;
	box-shadow: 0 0 5px #666;
}

.FactoryMainDiv {
	display:block;
	border: solid 4px #282828;
	border-top: none;
}

.FactoryTabBar {
	margin:0px;
	padding:0px;
	height:32px;
	background:#f8f8f8;
	border-bottom: SOLID 1PX #676767;
}

.FactoryTabBar li {
	list-style:none;
	float:left;
}

.FactoryTabNormal {
	padding:5px 20px;
	border:solid 1px #979797;
	background:#74AFAD;
	color:#ECECEA;
	border-radius: 5PX 5PX 0PX 0PX;
}

.FactoryTabActive {
	padding:5px 20px;
	border:solid 1px #979797;
	background:#74AFAD;
	color:#ECECEA;
	border-radius: 5PX 5PX 0PX 0PX;
}